* {
    padding: 0;
    margin:0;
}

:root {
    --fuente-principal-color: #0A3871;
}

body {
    display: flex;
    flex-direction: row;
    margin: 5px 40px;
    gap: 10px;
    width: 100vw;
    background-color: #f1f1f1;
}


header {
    display: flex;
    align-items: flex-start;
    /* margin: 0.5em 0 0 2em; */
    color: var(--fuente-principal-color);
    font-size: 200%;    
}

main {
    display: flex;
    justify-content: space-between;
    gap: 5%;
    width: 100%;
    margin: 0 90px;
}

.entrada__texto {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    margin-top: 100px;
    color:gray;
}

.botones-container {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.salida__texto {
    width: 200px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 50px;
    border-radius: 25px;
    gap: 10px;
    font-size: 14px;
}

.salida__texto h1,
.salida__texto p {
    text-align: center;
}

.salida__texto img {
    width: 250px;
}

.btn {
    padding: 20px;
    border-radius: 15px;
    width: 250px;
    color: var(--fuente-principal-color);
}

.encriptar {
    color: #fff;
    background-color: var(--fuente-principal-color);
}

.inputTexto {
    border: none;
    font-size: 130%;
    font-family: 'Inter', sans-serif;
    background-color: transparent;
}

.inputTexto::placeholder {
    color: var(--fuente-principal-color);
}

#aviso {
    margin-top: 25em;
}

.botones {
    display: flex;
    flex-direction: row;
    gap: 1em;
}